<header class="toobibpro-header">
	<div>
		<div class="hero">
			<h1 class="text-center">{{ data.title or '' }}</h1>
			<p class="text-center">{{ data.subtitle or '' }}</p>
		</div>
		<div class="text-center padding">
			<a class="btn btn-primary appointment" href="{{ data.button_link or '/appointment' }}">
			{{ data.button_label or '' }}</a>
		</div>
	</div>
</header>

<section class="toobibpro-body">
	<div class="container">
		{% if data.body_title %}
		<div class="row heading">
			<div class="col-md-12">
					<h2 class="text-center bottom-line">{{ data.body_title or '' }}</h2>
			</div>
		</div>
		{% endif %}
		<div class="row">
			{% for d in data.body %}
			<div class="col-md-4 service-item">
				<div class="service-item-box icon-effect-1 icon-effect-1a text-center">
					<a class="inactiveLink">
						<i class="{{ d.icon }} hi-icon" aria-hidden="true"></i>
						</a>
					<h3>{{ d.heading or '' }}</h3>
					<p>{{ d.body or '' }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</section>
