<script setup>
import { onMounted, onUpdated, ref, watch } from "vue";

const props = defineProps({
	df: {
		type: Object,
		required: true,
	},
	modelValue: {
		validator: () => true, // any value
		required: false,
		default: null,
	},
});

const emit = defineEmits(["update:modelValue"]);

const fieldObject = ref(null);
const wrapper = ref(null);

const createInput = (parent, value) => {
	const df = {
		...props.df,
		input_class: "input-xs",
		only_input: true,
		onchange: () => {
			emit("update:modelValue", field.get_value());
		},
	};

	const field = frappe.ui.form.make_control({
		df,
		parent,
		value,
		render_input: true,
		only_input: true,
	});

	return field;
};

const refreshInput = (val) => {
	if (fieldObject.value) {
		fieldObject.value.set_value(val);
	} else if (wrapper.value) {
		wrapper.value.innerHTML = "";
		fieldObject.value = createInput(wrapper.value, val);
	}
}

const rerender = () => refreshInput(props.modelValue);

onUpdated(rerender);
onMounted(rerender);
watch(() => props.modelValue, rerender);
</script>

<template>
	<div ref="wrapper" />
</template>
