<script setup>
import { ref, onMounted, watch } from "vue";

const props = defineProps({
	icon: { type: String, required: true },
	size: { type: String, default: "md" },
});

const el = ref();

const updateIcon = () => {
	if (!el.value) return;
	el.value.innerHTML = frappe.utils.icon(props.icon, props.size);
}

onMounted(updateIcon);
watch(() => props.icon, updateIcon);
</script>

<template>
	<span ref="el"></span>
</template>
