<script setup>
import { computed, useSlots } from 'vue';

const props = defineProps({
	modelValue: {
		type: [String, Number],
	},
	as: {
		type: String,
		default: "label",
	},
	inputAs: {
		type: String,
		default: "input",
	},
	label: {
		type: String,
		default: "",
	},
	formatter: {
		type: Function,
		default: null,
	},
	inputAttrs: {
		type: Object,
		default: () => ({}),
	},
});

const emit = defineEmits(["update:modelValue"]);

const onInput = (e) => {
	emit("update:modelValue", e.target.value);
};

const slots = useSlots();
const options = computed(() => {
	if (props.inputAs !== "select") {
		return null;
	}
	const mapper = (vnode) => {
		const { props, children } = vnode;
		if (Array.isArray(children)) { return children.flatMap(mapper); }

		if (vnode.type !== "option") { return []; }
		if (typeof children !== "string") { return []; }

		const text = children.trim();
		const value = props?.value ?? text;
		return { value, text };
	}
	return slots.default?.().flatMap(mapper);
})

const theFormatter = (v) => {
	if (props.formatter) {
		return props.formatter(v);
	}
	const opt = options.value?.find((opt) => opt.value == v);
	return opt?.text ?? v;
};
</script>

<template>
	<component :is="as" class="InputAutosize" v-bind="$attrs">
		<span class="sr-only">{{ label }}</span>

		<slot name="below" />

		<span class="-expander -common" aria-hidden="true">{{ theFormatter(modelValue) }}</span>

		<component class="-input -common" :value="modelValue" :placeholder="label" size="1" @input="onInput" v-bind="inputAttrs" :is="inputAs">
			<slot />
		</component>

		<slot name="above" />
	</component>
</template>

<style lang="scss">
/* https://css-tricks.com/auto-growing-inputs-textareas */

.InputAutosize {
	display: inline-grid;
	vertical-align: top;
	align-items: center;
	position: relative;
	margin: 0px;

	& .InputAutosize {
		position: relative;
	}

	.-common {
		width: auto;
		min-width: 1ch;
		grid-area: 1 / 2;
	}

	.-input {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		grid-area: 1 / 2;
		cursor: inherit;
	}

	.-expander,
	.-input {
		font: inherit;
		font-variant: inherit;
		padding: 0;
		margin: 0;
		resize: none;
		background: none;
		appearance: none;
		border: none;
		z-index: 1;
	}

	.-expander {
		visibility: hidden;
		white-space: pre-wrap;
	}

	&:focus-within {
		outline: solid 1px currentColor;

		.-input:focus {
			outline: none;
		}
	}
}
</style>
