<script setup>
import { computed } from "vue";

import MemoItemSection from "./MemoItemSection.vue";
import MemoItemSingle from "./MemoItemSingle.vue";
import MemoItemTable from "./MemoItemTable.vue";

const props = defineProps({
	item: {
		type: Object,
		required: true,
	},
})

const type = computed(() => {
	return props.item.type
})
</script>

<template>
	<div v-if="type == 'section'">
		<MemoItemSection :item="item" />
	</div>
	<div v-else-if="type == 'kv'">
		<MemoItemSingle :item="item" />
	</div>
	<div v-else-if="type == 'table'">
		<MemoItemTable :item="item" />
	</div>
	<div v-else>
		{{ item }}
	</div>
</template>
