<script setup>
import { computed, inject } from "vue";
import MemoEditableSource from "./MemoEditableSource.vue";
import { isImportant } from "./utils";

const props = defineProps({ item: { type: Object, required: true } });
const size = inject("size", "normal");
const axis = computed(() => {
	const t = props.item.source?.df?.fieldtype;
	if (["Text Editor", "Small Text"].includes(t)) {
		return "column";
	}
});
</script>

<template>
	<dl class="memo-item memo-item--kvpair" :class="{ 'memo-item--important': isImportant(item) }" :data-size="size" :data-default-axis="axis">
		<dt class="memo__label ellipsis" :title="item.label">
			{{ item.label }}
		</dt>
		<dd class="memo__value">
			<MemoEditableSource v-model="props.item.value" :source="item.source" />
		</dd>
	</dl>
</template>

<style lang="scss">
.memo-item--kvpair {
	// Layout
	display: flex;
	flex-direction: row;
	gap: var(--padding-sm);

	position: relative;
	flex: 1;

	&[data-default-axis="column"],
	&[data-size="large"] {
		display: flex;
		flex-direction: column;
		gap: var(--padding-sm);
	}

	&[data-size="large"] {
		border-radius: var(--border-radius-md);
		padding: var(--padding-sm);

		.memo__label {
			color: var(--text-color);
			font-weight: var(--weight-black);
			font-size: 0.8em;
		}

		background: var(--blue-50);
		.memo__value {
			--text-color: var(--blue-700);
			font-weight: var(--weight-bold);
		}

		&.memo-item--important {
			background: var(--red-100);
			.memo__value {
				--text-color: var(--red-700);
			}
		}
	}

	& > .memo__label {
		flex: 0 0 50%;
	}

	& > .memo__value {
		flex: 1 1 auto;
		text-underline-position: under;

		&:focus-visible {
			outline: revert !important;
		}
	}

	// Reset: dl, dt, dd
	&, & > * {
		margin: 0;
		padding: 0;
	}

	&[data-size="normal"] {
		// Décoration
		&::after {
			content: "";
			position: absolute;
			inset: 0;
			margin: -3px calc(-1 * var(--padding-sm));
			border-radius: var(--border-radius);
			z-index: -1;
			background: var(--primary);
			opacity: 0;
		}

		&:hover::after {
			opacity: 0.1;
		}
	}
}
</style>
