<script setup>
import { computed, inject, provide } from "vue";
import MemoItem from "./MemoItem.vue";
import MemoIcon from "./MemoIcon.vue";
import { isImportant } from "./utils";
import MemoRecap from "./MemoRecap.vue";

const bus = inject("bus");
provide("MemoItem", MemoItem);
provide("MemoIcon", MemoIcon);

const props = defineProps({
	item: {
		type: Object,
		required: true,
	},
	hasRecap: {
		// Répéter les items importants en haut de la liste (trouvés récursivement)
		type: Boolean,
		default: true,
	},
})

function getImportantItems(item) {
	if (item.children) {
		return item.children.flatMap(getImportantItems);
	} else if (isImportant(item)) {
		return [item];
	}
	return [];
}

const recapItems = computed(() => {
	if (!props.hasRecap) return [];
	return getImportantItems(props.item);
});
</script>

<template>
	<div class="memo__title">
		<h3>{{ item.label ?? __("Memo") }}</h3>
		<button class="btn-reset" @click="bus.emit('memo:refresh')">
			<span class="sr-only">{{ __("Refresh") }}</span>
			<MemoIcon icon="es-line-reload" />
		</button>
	</div>

	<MemoRecap :items="recapItems" />

	<MemoItem :item="item" v-for="(item, index) in item.children ?? []" :key="index" />
</template>

<style>
.memo__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: var(--padding-lg);
}

.memo__title h3 {
	font-size: 1.75rem;
	font-weight: 800;
	margin: 0;
}

.memo__label {
	font-weight: var(--weight-regular, 400);
	color: var(--text-muted, inherit);
}

.memo__value {
	font-weight: var(--weight-bold, 600);
	color: var(--text-color, inherit);
}
</style>
