<div class="clearfix"></div>
<div class="box">
	{% if ((typeof data !== "undefined") && (data.length !==0)) { %}
	<div class="col-xs-8 col-xs-offset-4">
		<h5 class="uppercase" style="color: #8D99A6; margin-left: -10px;">Patientes inscrites</h5>
	</div>
		<div class="grid-body">
			<div class="rows">
				{% for r in data.registered %}
				<div class="grid-row">
					<div class="data-row row">
						<div class="col grid-static-col col-xs-4" style="border-right: 0px !important;">
							<div class="static-area ellipsis text-center"><a href="/app/appointment/{{ r.name }}" target="_blank">{{ r.name }}</a></div>
						</div>
						<div class="col grid-static-col col-xs-8" style="border-right: 0px !important;">
							<div class="static-area ellipsis"><b>{{ r.patient }}</b></div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% } %}
</div>
