<script setup>
// @ts-check
import { ref, watch } from "vue";
import { useStore } from "./store";
import { Combobox, ComboboxInput, ComboboxOption, ComboboxOptions } from "@headlessui/vue";
import FrappeIcon from "../common/FrappeIcon.vue";

const store = useStore();

const search = ref("");

/** @type {import("vue").Ref<Array>} */
const results = ref([]);

const cache = {};

const UNIQUE_ID_FIELD = "name";

async function makeRowFromSelection(res) {
	/** @type {import("./utils").MedicationRow} */
	const row = {
		type: "Medication",

		medication_text: res.label,
		medication_code: res.cip ?? res[UNIQUE_ID_FIELD],

		// dosage_site: "jambe gauche (tibia)",
		// dosage_route: "(voie orale)",
		// dosage_method: "inhalation",
		// dosage_method_extra: "pendant les repas",

		dosage_dose: 2,
		dosage_dose_unit: "sachet",

		occurrence_frequency: 2,
		occurrence_period: 1,
		occurrence_period_unit: "day",
		occurrence_text: "pendant les repas",

		plan_duration: 4,
		plan_duration_unit: "week",

		// action_condition: "en cas de démangeaisons",
	};
	return row;
}

async function process(res) {
	return {
		[UNIQUE_ID_FIELD]: res[UNIQUE_ID_FIELD],
		label: res.name,
	};
}

async function fetchThesorimed(searchTerm) {
	if (!searchTerm) { return null; }

	const res = await fetch("http://localhost:8080/search?text=" + encodeURIComponent(searchTerm));
	/** @type {{ nom: string, cip: number }[] | null} */
	const json = await res.json();
	return json?.map?.((r) => {
		return {
			label: r.nom,
			cip: r.cip,
		};
	})
}

async function fetchDrugsFrappe(searchTerm) {
	/** @type {{ name: string }[] | null} */
	const res = await frappe.db.get_list("Drug", {
		filters: [
			["Drug", "name", "like", `%${searchTerm}%`]
		],
		fields: ["name"]
	});
	return Promise.all(res?.map(process) ?? []);
}

async function addRow(res) {
	if (!res) { return; }

	const row = await makeRowFromSelection(res);
	store.addRow(row);
}

async function getDefaultList() {
	return [
		{ label: "Paracetamol 1000 mg comprime", cip: "3400894570370", code: 50311 },
		{ label: "Ibuprofene 50 mg/g gel cutane", cip: "3400893832448", code: 36092 },
		{ label: "Codeine 10 mg + Codethyline 10 mg comprime", cip: "3400890958585", code: 3781 },
		{ label: "Tramadol 37,5 mg + Paracetamol 325 mg comprime", cip: "3400894224358", code: 39630 },
		{ label: "Amoxicilline 50 mg/mL poudre orale", cip: "3400892637709", code: 18641 },
		{ label: "CHOLECALCIFEROL SUBST 50 000 UI BUV", cip: "3400930258347", code: 55847 },
		{ label: "Acide acetylsalicylique 500 mg poudre orale sachet", cip: "3400890072977", code: 7186 },
		{ label: "Levothyroxine 75 ug comprime secable", cip: "3400894298977", code: 40236 },
		{ label: "Phloroglucinol 160 mg lyophilisat oral", cip: "3400890024198", code: 55104 },
		{ label: "Loperamide 2 mg + Dimeticone 125 mg comprime", cip: "3400893049310", code: 21821 },
	]
}

async function fetchAndCache(searchTerm) {
	const res = cache[searchTerm] ?? await fetchThesorimed(searchTerm);
	if (!res || !res.length) {
		return null;
	}
	cache[searchTerm] = res;
	return res;
}

async function fetchAndReplaceResults() {
	let res = await fetchAndCache(search.value);
	if (!res) {
		res = await getDefaultList();
	}
	results.value = res;
}

const debouncedFetch = frappe.utils.throttle(fetchAndReplaceResults, 250);

watch(search, debouncedFetch, { immediate: true });
</script>

<template>
	<Combobox as="div" class="PrBuPicker--results" @update:modelValue="addRow" nullable>
		<div class="PrBuPicker--searchInput">
			<ComboboxInput as="input" type="search" class="-input form-control" @change="search = $event.target.value" placeholder="Rechercher un médicament…" />
			<div class="-left flex align-center justify-center">
				<FrappeIcon icon="es-line-search" size="md" style="margin: -3px 0 0 0;" />
			</div>
			<!-- <button aria-label="Effacer" class="-right btn-reset" @click="search = ''">
				<FrappeIcon icon="es-line-close" size="xs" />
			</button> -->
		</div>

		<ComboboxOptions as="ul" class="PrBuPicker--results list-unstyled" static>
			<ComboboxOption v-slot="{ active }" v-for="res in results" :key="res[UNIQUE_ID_FIELD]" :value="res" as="template">
				<li class="PrBuPicker--result" :data-active="active">
					{{ res.label }}
					<span class="PrBuPicker--helpText">
						<span>{{ '←' }} Cliquez pour ajouter</span>
					</span>
				</li>
			</ComboboxOption>
		</ComboboxOptions>
	</Combobox>
</template>

<style>
.PrBuPicker--results {
	margin: var(--padding-sm) 0px;
	display: flex;
	flex-direction: column;
}

.PrBuPicker--result {
	padding: var(--padding-xs) var(--padding-sm);
	line-height: 1.3;
	/* border-radius: var(--border-radius); */
	text-align: left;

	background: none;
	border-left: 4px solid transparent;

	width: 100%;
	position: relative;
	cursor: pointer;
	transition: all 20ms ease;
}

.PrBuPicker--result:nth-child(odd) {
	background-color: var(--fg-color);
}

.PrBuPicker--helpText {
	position: absolute;
	right: -4px;
	top: 50%;
	transform: translate(100%, -50%);
	display: flex;
	align-items: center;
	padding: 3px 7px;
	font-size: 0.8rem;
	font-weight: var(--weight-semibold);
	border-radius: 99px;
	background-color: var(--fg-color);
	box-shadow: var(--shadow-lg);
	pointer-events: none;
	z-index: 5;
	transition: all 100ms ease;
}


/* Interactions */
.PrBuPicker--result:is(:hover,:focus-visible,[data-active="true"]) {
	background-color: var(--fg-color);
	box-shadow: var(--shadow-md);
	text-decoration: underline;
	border-color: var(--primary);
	z-index: 1;
}

.PrBuPicker--result:not(:hover,:focus-visible,[data-active="true"]) .PrBuPicker--helpText {
	visibility: hidden;
	opacity: 0;
	/* margin-right: 5px; */
	box-shadow: var(--shadow-sm);
	transition-duration: 20ms;
}


/* Combobox input */
.PrBuPicker--searchInput {
	--h: var(--input-height, 36px);
	--r: 0px; /* var(--h) */
	--l: 28px;
	height: var(--h);
	display: grid;
	grid-template-columns: var(--l) 1fr var(--r);
	margin: 0px var(--padding-sm);
}

.PrBuPicker--searchInput>.-left {
	/* Decoration */
	grid-column: 1;
	grid-row: 1;
	pointer-events: none;
	z-index: 1;
}

.PrBuPicker--searchInput>.-input {
	grid-column: 1 / span 3;
	grid-row: 1;
	padding: 0px var(--r) 0px var(--l);
	background-color: var(--fg-color);
}

.PrBuPicker--searchInput>.-right {
	/* Clear button */
	grid-column: 3;
	grid-row: 1;
	z-index: 1;
}

@supports not (display: grid) {
	.PrBuPicker--searchInput {
		display: block;
	}

	.PrBuPicker--searchInput>.-left {
		display: none;
	}

	.PrBuPicker--searchInput>.-right {
		display: none;
	}
}
</style>
