<script setup>
import { useSlots } from "vue";
import RoundIconButton from "../common/RoundIconButton.vue";

const props = defineProps({
	title: {
		type: String,
		default: "",
	},
	count: {
		type: [Number, String, null],
		default: null,
	},
	type: {
		type: String,
		default: "info",
	},
});

const slots = useSlots();
const hasDetails = slots.details != null;
const el1 = hasDetails ? "details" : "div";
const el2 = hasDetails ? "summary" : "div";
</script>

<template>
	<component :is="el1" class="PrBuAlert m-0 alert" :class="['alert-' + type]">
		<component :is="el2" class="PrBuAlert--header user-select-none">
			<div class="PrBuAlert--title">
				<slot name="title" v-if="title">
					{{ title }}
				</slot>
			</div>

			<strong class="PrBuAlert--count" v-if="count != null">
				<slot name="count">
					{{ count }}
				</slot>
			</strong>

			<div class="PrBuAlert--preview">
				<slot />
			</div>

			<RoundIconButton v-if="hasDetails" as="div" class="PrBuAlert--icon" :title="__('Show')" icon="es-line-down" size="sm" />
		</component>

		<slot name="details" />
	</component>
</template>

<style>
.PrBuAlert {
	display: flex;
	flex-direction: column;
}
.PrBuAlert > .PrBuAlert--header {
	display: flex;
	flex-direction: column;
	position: relative;
}
.PrBuAlert[open] > .PrBuAlert--header {
	margin-bottom: var(--padding-md);
}

.PrBuAlert--title {
	font-weight: var(--weight-bold);
	font-size: 1.3em;
}

.PrBuAlert--count {
	font-size: 2.5em;
}

.PrBuAlert--preview {
	opacity: 0.7;
}

.PrBuAlert--icon {
	position: absolute;
	right: 0;
	bottom: 0;
	transition: transform 0.1s ease;
}
.PrBuAlert[open] > .PrBuAlert--header > .PrBuAlert--icon {
	transform: rotate(-180deg);
}
</style>