<script setup>
import { computed, ref, watch } from "vue";
import InputAutosize from "../common/InputAutosize.vue";
import LabelledButton from "../common/LabelledButton.vue";
import FrappeIcon from "../common/FrappeIcon.vue";

const props = defineProps({
	modelValue: {
		type: [String, Number],
		required: true,
	},
});

const emit = defineEmits(["update:modelValue"]);

const qtyRef = ref(props.modelValue);

watch(qtyRef, (v) => emit("update:modelValue", v));

const incr = (n) => {
	let qty = parseInt(qtyRef.value, 10);
	if (isNaN(qty)) { qty = 0; }
	qty += n;
	if ((qty <= 0)) { qty = 1; }
	qtyRef.value = qty;
};

const maxWidth = computed(() => {
	const qty = qtyRef.value;
	if (qty) {
		return `${qty.toString().length || 0}ch`;
	}
	return "1ch";
});
</script>

<template>
	<InputAutosize class="PrBuQuantityInput" v-model="qtyRef" v-bind="$attrs" :input-attrs="{ style: `max-width: ${maxWidth}` }">
		<template #below>
			<div class="-common PrBuQuantityInput--plusminuswrapper">
				<LabelledButton class="btn-reset PrBuQuantityInput--plusminus" label="Plus 1" aria-hidden="true" @click="incr(1)">
					<FrappeIcon icon="es-line-add" size="xs" />
				</LabelledButton>
				<LabelledButton class="btn-reset PrBuQuantityInput--plusminus" label="Moins 1" aria-hidden="true" @click="incr(-1)">
					<FrappeIcon icon="es-line-dash" size="xs" />
				</LabelledButton>
			</div>
		</template>
		<template #above>
			<slot />
		</template>
	</InputAutosize>
</template>

<style>
.PrBuQuantityInput, .PrBuQuantityInput .-input {
	font-variant-numeric: diagonal-fractions !important;
}

[role="group"]:not(:hover) .PrBuQuantityInput:not(:hover,:focus-within) .PrBuQuantityInput--plusminuswrapper {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition-delay: 250ms;
}

.PrBuQuantityInput--plusminuswrapper {
	position: relative;
	pointer-events: none;
	height: 100%;
	transition: all 100ms ease;
	transition-property: opacity, visibility;
}
.PrBuQuantityInput--plusminus {
	position: absolute;
	pointer-events: all;
	width: 100%;
	height: 16px;
	border-radius: 99px;
	line-height: 0;
	text-align: center;

	--icon-stroke: var(--text-color);
	background: var(--subtle-fg);
	box-shadow: var(--shadow-xs);

	min-width: 16px;
	z-index: 4;
}
.PrBuQuantityInput--plusminus:nth-child(1) {
	top: -3px;
	left: 50%;
	transform: translate(-50%, -100%);
}
.PrBuQuantityInput--plusminus:nth-child(2) {
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 100%);
}

.PrBuQuantityInput > :first-child > .-input {
	max-width: 1ch;
	text-align: center;
}
</style>
